body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    background: url(images/landing.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header{
    z-index: 1;
    position: fixed;
    background: #22242A;
    padding: 20px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
  }
  .left_area{
    display: flex;
  }
  .left_area img{
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .left_area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
  }
  
  .left_area span{
    color: #19B3D3;
  }
  
  .logout_btn{
    padding: 5px;
    background: #19B3D3;
    text-decoration: none;
    float: right;
    margin-top: -30px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: background;
  }
  
  .logout_btn:hover{
    background: #0B87A6;
  }
  
  .sidebar{
    z-index: 1;
    top: 0;
    background: #2f323a;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
  }
  
  .profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .sidebar .profile_info .profile_image{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
  }
  
  .sidebar .profile_info h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
  }
  
  .sidebar a:hover{
    background: #19B3D3;
  }
  
  .sidebar i{
    padding-right: 10px;
  }
  
  label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 300px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
  }
  
  label #sidebar_btn:hover{
    color: #19B3D3;
  }
  
  #check:checked ~ .sidebar{
    left: -185px;
  }
  
  #check:checked ~ .sidebar a span{
    display: none;
  }
  
  #check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
  }
  
  .content{
    width: 100% - 250px;
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    height: 100vh;
    transition: 0.5s;
  }
  
  #check:checked ~ .content{
    margin-left: 60px;
  }
  
  #check:checked ~ .sidebar .profile_info{
    display: none;
  }
  
  #check{
    display: none;
  }
  
  .mobile_nav{
    display: none;
  }
  
  
  /*Section Area*/
  section{
    
    width: 100% - 250px;
    height: 80vh;
    display: flex;
    align-items: center;
    
  }

      
      footer{
      width: 60%;
      position: fixed;
      left: 20%;
      right: 20%;
      z-index: -1;
      background: rgba(0, 0, 0, 0.79);
      bottom: 0;
      border-radius: 5px 5px 0px 0px;
  
      }  
      footer span{
        color: white;
        text-align: center;
        font-size: 10px;
  
      }
  
  
  /* Responsive CSS */
  
  @media screen and (max-width: 780px){
    .sidebar{
      display: none;
    }
  
    #sidebar_btn{
      display: none;
    }
  
    header .left_area span{
      font-size: 13px;
    }
  
    .content{
      margin-left: 0;
      margin-top: 0;
      padding: 10px 20px;
      transition: 0s;
  
    }
  
    #check:checked ~ .content{
      margin-left: 0;
    }
  
    .mobile_nav{
      display: block;
      width: calc(100% - 0%);
    }
  
    .nav_bar{
      background: #222;
      width: 100% - 0px;
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
    }
  
    .nav_bar .mobile_profile_image{
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  
    .nav_bar .nav_btn{
      color: #fff;
      font-size: 22px;
      cursor: pointer;
      transition: 0.5s;
      transition-property: color;
    }
  
    .nav_bar .nav_btn:hover{
      color: #19B3D3;
    }
  
    .mobile_nav_items{
      background: #2F323A;
      display: none;
    }
  
    .mobile_nav_items a{
      color: #fff;
      display: block;
      text-align: center;
      letter-spacing: 1px;
      line-height: 60px;
      text-decoration: none;
      box-sizing: border-box;
      transition: 0.5s;
      transition-property: background;
    }
  
    .mobile_nav_items a:hover{
      background: #19B3D3;
    }
  
    .mobile_nav_items i{
      padding-right: 10px;
    }
  
    .active{
      display: block;
    }
  
    section{
      max-width: 90%;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      display: flex;
      flex-direction: column-reverse;
    }
  
    .calendar, .widget{
      width: 100%;
      padding-bottom: 20px;
    }
  /*widget*/
    .color1{
      grid-area: first;
    }
    .color2{
      grid-area: second;
    }
    .color3{
      grid-area: third;
    }
    .color4{
      grid-area: fourth;
    }
    .color5{
      grid-area: fifth;
    }
    .color6{
      grid-area: sixth;
    }
  
    .widget{
      display: grid;
      grid-template-areas: 'first second' 'third fourth' 'fifth sixth';
    }
  
  
  
    /*calendar*/
  
  
  .calendar .calendar-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-bottom: 6px solid #4285F4;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 15%);
    width: 50%;
  }
  
  .calendar .calendar-body .month-name{
    color: #fff;
    background: #4285F4;
    width: 100%;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
    padding: 5px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .calendar .calendar-body .day-name{
    color: #fff;
    font-size: 1em;
    font-weight: 400;
    margin-top: 10px;
  }
  
  .calendar .calendar-body .date-number{
    color: #fff;
    font-size: 4em;
    font-weight: 600;
    line-height: 1.2em;
  }
  
  .calendar .calendar-body .year{
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  footer{
    display: block;
  }
  
  }

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
  }
  .bg-active{
      visibility: visible;
      opacity: 1;
  }

  .modal{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    width: 30%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .modal-btn{
    padding: 10px 30px;
    background-color: #2980b9;
    color: white;
    border: none;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
  }

  .modal button{
      padding: 10px 30px;
      background-color: #2980b9;
      color: white;
      border: none;
      font-family: 'Montserrat', sans-serif;
      cursor: pointer;
  }

  .modal-close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
  }
  .modal-close:hover{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
    color: red;
  }
